{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Clubes Exitu's | Exitu's College{% endblock %}
{% block meta_description %}Clubes Exitu's: espacios para descubrir talentos, crear, competir y crecer.{% endblock %}

{% block extra_head %}
    <link rel="preload" as="image" href="{% static 'img/clubes/campus-hero.png' %}">
    <link rel="stylesheet" href="{% static 'css/pages/inicio.css' %}">
{% endblock %}

{% block body %}
    <a class="skip-link" href="#clubes">Ir al contenido principal</a>
    {% include "inicio/partials/header.html" %}

    <main>
        {% include "inicio/partials/hero.html" %}
        {% include "inicio/partials/clubs.html" %}
        {% include "inicio/partials/club_directory.html" %}
        {% include "inicio/partials/experience.html" %}
    </main>

    {{ featured_clubs|json_script:"club-catalog" }}
    {% include "inicio/partials/modals.html" %}
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'js/pages/inicio.js' %}"></script>
{% endblock %}
