{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}Exitu's College{% endblock %}">
    <meta name="theme-color" content="#051c3e">
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon.png' %}">
    {% block extra_head %}{% endblock %}
    <title>{% block title %}Exitu's College{% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
